#modelx-info {
    color: #fff;
  }

  #modelx-info a {
    color: #fff;
  }

  .page-footer .buttons.demo-drive button {
    background-color: rgba(244, 244, 244, 1);
    color: #393c41;
    border: 3px solid #fff;
    font-weight: 500;
  }

  #first-section {
    margin-top: -56px;
  }

  #last-section {
    padding-bottom: 90px;
  }

  #header-nav-button {
    background-color: #d5e5f1;
    display: none;
    border: none;
    padding: 6px 17px;
    border-radius: 4px;
  }